@font-face {
  font-family: "Soehne Buch";
  src: url("src/resources/fonts/test-soehne-buch.woff2") format("woff2"),
    url("src/resources/fonts/test-soehne-buch.otf") format("opentype");
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 200, "opsz" 24;
}

.material-symbols-rounded-no-fill {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 24;
}

:root {
  --apple-system-blue-light: #007aff;
  --apple-system-gray-light: #828282;
  --apple-system-green-light: #248a3d;
  --apple-system-red-light: #ff3b30;
  --apple-system-yellow-light: #ffcc00;
  --apple-system-orange-light: #ff9500;
  --apple-system-purple-light: #af52de;
  --apple-system-pink-light: #ff2d55;
  --apple-system-teal-light: #5ac8fa;
  --site-bg: rgb(245, 245, 247);
  --navbar-bg: var(--apple-system-blue-light);
  --text-primary: rgb(29, 29, 31);
  --text-secondary: rgb(97, 97, 97);
  --text-tertiary: rgb(191, 191, 191);
  --month-card-bg: rgb(255, 255, 255);
  --border: rgb(220, 220, 220);
  --counter-bg: rgba(0, 0, 0, 0.05);
  --released-product: var(--apple-system-green-light);
  --announced-product: var(--apple-system-orange-light);
  --rumored-product: var(--text-secondary);
  --link: var(--apple-system-blue-light);
  --overlay: rgb(0, 0, 0);
  --footer-button-bg: rgba(0, 0, 0, 0.05);
  --footer-button-bg-hover: rgba(0, 122, 255, 0.05);
  --footer-button-highlight-hover: var(--apple-system-blue-light);
  --close-button-bg: rgb(232, 232, 238);
  --footer-bg: white;
  --underline: rgb(169, 169, 169);
  --text-highlight: var(--apple-system-blue-light);
  --focus-color: rgb(255, 153, 0);
  --blur-value: 12px;
  --border-radius: 18px;
  --border-radius-navbar: 12px;
  --border-radius-button: 6px;
  --transition-time: 200ms;
  --mobile-viewport: 600px;
  --content-section-gap: 24px;
  --site-width: 1400px;
  --header-letter-spacing: -1px;
  --product-list-letter-spacing: -0.5px;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  --current-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --apple-system-blue-dark: #0b84ff;
    --apple-system-gray-dark: #7f7f82;
    --apple-system-green-dark: #30d158;
    --apple-system-red-dark: #ff453a;
    --apple-system-yellow-dark: #ffd60a;
    --apple-system-orange-dark: #ff9f0a;
    --apple-system-purple-dark: #bf5af2;
    --apple-system-pink-dark: #ff375f;
    --apple-system-teal-dark: #64d2ff;

    --site-bg: rgb(10, 10, 8);
    --site-bg: rgb(16, 16, 10);
    --navbar-bg: var(--apple-system-blue-dark);
    --text-primary: rgb(245, 245, 247);
    --text-secondary: rgb(158, 158, 158);
    --text-tertiary: rgb(64, 64, 64);
    --month-card-bg: rgb(30, 30, 30);
    --border: rgb(64, 64, 64);
    --counter-bg: rgba(255, 255, 255, 0.05);
    --released-product: var(--apple-system-green-dark);
    --announced-product: var(--apple-system-orange-dark);
    --link: var(--apple-system-blue-dark);
    --footer-button-bg: rgba(255, 255, 255, 0.05);
    --footer-button-bg-hover: rgba(255, 204, 0, 0.05);
    --footer-button-bg-hover: rgba(0, 122, 255, 0.05);
    --footer-button-highlight-hover: rgba(255, 204, 0, 0.8);
    --footer-button-highlight-hover: var(--apple-system-blue-dark);
    --close-button-bg: rgb(36, 36, 30);
    --footer-bg: rgb(23, 23, 22);
    --underline: rgb(86, 86, 86);
    --text-highlight: var(--apple-system-blue-dark);
  }
}

html {
  scroll-behavior: smooth;
}

h2,
h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  --grid-opacity: 2%;
  margin: 0;
  background-color: var(--site-bg);
  color: var(--text-primary);
  font-family: var(--current-font);
  text-wrap: pretty;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, var(--grid-opacity)) 1px, transparent 1px) 0 0 / 10px 10px,
    linear-gradient(90deg, rgba(0, 0, 0, var(--grid-opacity)) 1px, transparent 1px) 0 0 / 10px 10px;
}

@media (prefers-color-scheme: dark) {
  body::before {
    background: linear-gradient(rgba(255, 255, 255, var(--grid-opacity)) 1px, transparent 1px) 0 0 / 10px 10px,
      linear-gradient(90deg, rgba(255, 255, 255, var(--grid-opacity)) 1px, transparent 1px) 0 0 / 10px 10px;
  }
}

#navbar {
  max-width: calc(var(--site-width) - 84px);
  margin: 0 auto;
  position: fixed;
  top: 24px;
  left: 42px;
  right: 42px;
  background-color: var(--navbar-bg);
  color: black;
  -webkit-backdrop-filter: saturate(200%) blur(var(--blur-value));
  backdrop-filter: saturate(200%) blur(var(--blur-value));
  border-radius: var(--border-radius-navbar);
  z-index: 1000;
  padding: 0 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#navbar a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
#navbar a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
  transition: color var(--transition-time) ease;
}
#site-title:hover {
  text-decoration: none !important;
}

.navbar-menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

@media (max-width: 600px) {
  #navbar {
    font-size: 0.8em;
    left: 18px;
    right: 18px;
    padding: 0 18px;
  }
}

#wrapper {
  padding-top: 148px;
}
@media (max-width: 600px) {
  #wrapper {
    padding-top: 124px;
  }
}

.section {
  max-width: var(--site-width);
  margin: 0 auto;
}

#main-buttons-container {
  margin: 0 42px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  #main-buttons-container {
    margin: 12px 18px;
  }
}

.main-button {
  background: var(--footer-button-bg);
  border: 1px solid var(--border);
  padding: 6px 12px;
  border-radius: var(--border-radius-button);
  color: var(--text-primary);
  text-align: center;
  box-sizing: border-box;
  display: flex;
  gap: 6px;
  align-items: center;
}

@media (hover: hover) and (pointer: fine) {
  .main-button:hover {
    background-color: var(--footer-button-bg-hover);
    color: var(--footer-button-highlight-hover);
    border: 1px solid var(var(--footer-button-highlight-hover));
    transition: var(--transition-time) ease all;
  }
}

.year-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 24px;
}

.year-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.year-label {
  margin: auto;
  margin-left: 60px;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  letter-spacing: var(--header-letter-spacing);
  color: var(--apple-system-blue-light);
  cursor: pointer;
}

.year-list-arrow {
  font-size: inherit !important;
  opacity: 0.5;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .year-label {
    color: var(--text-primary);
    color: var(--apple-system-blue-dark);
  }
}

@media (max-width: 600px) {
  .year-label {
    margin-left: 36px;
    font-size: 48px;
  }
}

.past-date,
#unknown {
  color: var(--text-primary);
}

.month-card-container {
  margin: 0 42px;
  margin-bottom: 30px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .month-card-container {
    margin: 0 18px;
    margin-bottom: 30px;
    grid-template-columns: 1fr;
  }
}

.month-card {
  padding: 12px 18px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--month-card-bg);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-block-end: 0;
  box-shadow: var(--box-shadow);
  gap: 6px;
}

@media (min-width: 400px) {
  .month-card {
    min-width: 256px;
  }
}

.month-label {
  font-size: 36px;
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: var(--header-letter-spacing);
}

@media (max-width: 600px) {
  .month-label {
    font-size: 32px;
  }
}

.current-month {
  color: var(--text-highlight);
}

.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.product-item {
  flex-shrink: 0;
  font-size: 20px;
  display: flex;
  gap: 6px;
  border-radius: var(--border-radius-button);
  transition: 0.2s;
  align-items: center;
  text-decoration: none;
  padding: 6px 8px;
  translate: -8px 0;
  line-height: 1.3;
  font-family: var(--current-font);
}

@media (hover: hover) and (pointer: fine) {
  .product-item:hover {
    translate: 0;
  }
}

.product-item-text,
.source-link-text {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--underline);
  text-underline-offset: 4px;
}

.product-item:hover .product-item-text,
.source-link:hover .source-link-text,
.product-image-source-link:hover {
  text-decoration: none !important;
}

.product-item-icon {
  align-self: start;
}

.counter {
  padding: 4px 12px;
  min-height: 38px;
  min-width: 38px;
  margin: 12px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: var(--counter-bg);
  color: var(--text-secondary);
  font-size: 0.7em;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
  overflow-y: scroll;
}

#modal-container > * {
  pointer-events: initial;
}

.product-card-wrapper {
  width: 1040px;
  max-width: 90vw;
  margin: 44px auto;
  max-height: 100%;
  display: flex;
  position: relative;
  z-index: 1000;
  gap: 24px;
  pointer-events: none;
  overflow-y: scroll;
}

@media screen and (max-width: 600px) {
  .product-card-wrapper {
    max-width: 100vw;
    max-height: 90%;
    top: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0%, 0%);
    font-size: 0.9rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    gap: 0;
  }
}

.button-container {
  padding-top: 32px;
  /* align-self: center; */
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--month-card-bg);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  overflow: scroll;
  border-radius: var(--border-radius);
  pointer-events: auto;
}
.product-card:focus {
  outline: none;
}

@media (max-width: 600px) {
  .product-card {
    max-height: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0%, 0%);
    font-size: 0.9rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}

.product-navigation-button {
  height: 36px;
  width: 36px;
  background-color: white;
  color: black;
  border-radius: 9999px;
  margin: 0;
  flex-shrink: 0;
  box-shadow: var(--box-shadow);
  pointer-events: auto;
}
.product-navigation-button:hover {
  background-color: rgb(220, 220, 220);
  transition: var(--transition-time) ease background-color;
}

@media (max-width: 600px) {
  .product-navigation-button {
    display: none;
  }
}
#previous-button {
  left: 20px;
}
.product-card-content {
  padding: 56px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: var(--content-section-gap);
}

@media (max-width: 600px) {
  .product-card-content {
    padding: 16px 32px 32px 32px;
  }
}

.product-status-label-wrapper {
  display: flex;
  justify-content: start;
}

.product-status-label {
  padding: 4px 8px;
  border-radius: var(--border-radius-button);
  font-weight: 500;
  font-family: var(--current-font);
  margin-bottom: -12px;
}

.released-product {
  color: var(--released-product);
}

@media (hover: hover) and (pointer: fine) {
  .released-product:hover {
    background-color: rgba(8, 127, 6, 0.1);
  }
}

.product-status-label.released-product {
  background-color: rgba(8, 127, 6, 0.14);
}

.announced-product {
  color: var(--announced-product);
}

.announced-product:hover {
  background-color: rgba(230, 125, 6, 0.1);
}

.product-status-label.announced-product {
  background-color: rgba(230, 125, 6, 0.14);
}

.rumored-product {
  color: var(--rumored-product);
}

.rumored-product:hover {
  background-color: rgba(128, 126, 128, 0.1);
}

.product-status-label.rumored-product {
  background-color: rgba(128, 126, 128, 0.14);
}

.titlebar {
  margin-bottom: var(--content-section-gap);
}

.product-name {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  font-family: var(--current-font);
  letter-spacing: var(--product-list-letter-spacing);
}

@media (max-width: 600px) {
  .product-name {
    font-size: 2.5em;
  }
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: calc(var(--content-section-gap) * 2);
}
@media (max-width: 600px) {
  .top-section {
    flex-direction: column;
    width: 100%;
  }
}

.product-info {
  flex: 1; /* Ensures each item takes equal space */
  max-width: 100%; /* Adjusted to ensure full width */
}

.product-image-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  overflow-x: hidden;
  max-width: 50%;
  border-radius: var(--border-radius-button);
  padding-bottom: 2px;
}
@media (max-width: 600px) {
  .product-image-container {
    max-width: 100%;
  }
}

.product-image {
  max-width: 100%;
  max-height: 300px;
  display: block;
  object-fit: contain;
  object-position: center;
  border-radius: inherit;
}
@media (max-width: 600px) {
  .product-image {
    width: 100%;
  }
}

.product-image-source-link {
  font-size: 12px;
  color: var(--link);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--underline);
  text-underline-offset: 4px !important;
}

.top-buttons-container {
  display: flex;
  justify-content: end;
}

.close-button {
  width: 36px;
  height: 36px;
  font-size: 20px;
  text-align: center;
  color: var(--text-secondary);
  cursor: pointer;
  border-radius: 9999px;
  transition: var(--transition-time);
  align-self: end;
  flex-shrink: 0;
  margin-top: 32px;
  margin-right: 32px;
  border: 1px solid var(--border);
}

@media (hover: hover) and (pointer: fine) {
  .close-button:hover {
    background-color: var(--footer-button-bg-hover);
    border-color: var(--footer-button-highlight-hover);
    color: var(--footer-button-highlight-hover);
  }
}

@media screen and (max-width: 600px) {
  .top-buttons-container {
    justify-content: space-between;
  }

  .mobile-navigation-buttons-container {
    display: flex;
    justify-content: left;
    gap: 12px;
    margin-top: 32px;
    margin-left: 32px;
  }

  .mobile-navigation-button {
    width: 36px;
    height: 36px;
    background-color: white;
    color: black;
    border-radius: 9999px;
    box-shadow: var(--box-shadow);
    pointer-events: auto;
  }
  .mobile-navigation-button:hover {
    background-color: rgb(220, 220, 220);
    transition: var(--transition-time) ease background-color;
  }

  .mobile-navigation-button:disabled {
    background-color: var(--counter-bg);
  }
}

@media screen and (min-width: 600px) {
  .mobile-navigation-buttons-container {
    display: none;
  }
}

.product-description {
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-primary);
  font-family: var(--current-font);
}

.product-header {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: var(--current-font);
}

.sources-header {
  font-size: 18px;
}

.product-features li,
.product-sources li {
  list-style-type: inherit;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
  color: var(--text-primary);
  font-family: var(--current-font);
}

.source-link {
  color: var(--link);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.source-link:hover {
  text-decoration: none;
}
.source-link-text {
  margin-right: 6px;
}
.source-link-text:hover {
  text-decoration: none;
}

.source-link-icon {
  font-size: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--current-font);
}
th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--border);
  color: var(--text-secondary);
}

.date-list {
  display: none;
}

.product-card-last-updated-text {
  color: var(--text-secondary);
}

.overlay {
  position: fixed;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay);
  opacity: 0;
  cursor: pointer;
  opacity: 0.2;
  opacity: 0.48;
  z-index: 999;
}

#footer-wrapper {
  margin: 32px 42px;
}
@media (max-width: 600px) {
  #footer-wrapper {
    margin: 32px 18px;
  }
}

#footer {
  max-width: calc(var(--site-width) - 84px);
  margin: 0 auto;
  padding: 56px 32px;
  line-height: 1.5;
  background-color: var(--footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

#footer-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.footer-button,
.product-card-button {
  border: 1px solid var(--border);
  font-size: 1em;
  color: var(--text-secondary);
  padding: 6px 12px;
  border-radius: var(--border-radius-button);
  transition: var(--transition-time);
  text-decoration: none;
}

.product-card-button {
  margin: 0 auto;
}
@media (hover: hover) and (pointer: fine) {
  .footer-button:hover,
  .product-card-button:hover {
    background-color: var(--footer-button-bg-hover);
    border-color: var(--footer-button-highlight-hover);
    color: var(--footer-button-highlight-hover);
  }
}

.footer-text-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--content-section-gap) / 2);
}

.footer-text {
  font-size: 1em;
  text-align: center;
  color: var(--text-secondary);
  border-radius: var(--border-radius);
  transition: var(--transition-time);
}

.last-updated-time {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--underline);
  text-underline-offset: 4px;
}

:focus {
  outline: 3px solid var(--focus-color);
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 3px solid var(--focus-color);
  outline-offset: 2px;
}

::selection {
  background-color: #ffd700;
  color: black;
}
